<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Kempt - Put your best foot forward</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/app.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header>
    <div class="container">
      <div class="row">
        <div class="two columns">
          <span class="logo">kempt</span>
        </div>
        <div class="ten columns">
          <ul class="nav">
            <li><a href="#membership">Membership</a></li>
            <li><a href="#how-it-works">how it works</a></li>
            <li><a href="#faq">faq</a></li>
          </ul>
        </div>
      </div>
      <div class="row space">
        <div class="twelve columns">
          <h1 class="center">Discover the best New York City<br /> salons, services, and beauty products.</h1>
          <form method="post" action="/email">
            <div class="row">
              <div class="twelve columns center">
                <input class="text email-js" type="email" placeholder="Enter your email" name="email">
                <input class="text zip_code-js" type="text" placeholder="Zip code" name="zipcode">
              </div>
            </div>
            <div class="row">
              <div class="twelve columns center">
                <button class="submit-js">Get Early Access</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row center space">
      <div class="twelve columns">
        <h2 style="letter-spacing:1px;">Think of us as your personal beauty concierge, for <b>him &amp; her</b>.</h2>
        <p style="font-size:20px;">
          <em>Kempt allows you to book and pay for any beauty service at member-only prices, and buy editor picked products to keep you looking and feeling your best. Customize the app to match your gender, beauty profile and maintenance routine.</em>
        </p>
        <h3 class="green">Memberships start at $50/month</h3>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row space">
      <div class="twelve columns">
        <h3 class="center uppercase" id="how-it-works">How it works</h3>
        <hr class="small" />
        <p><em>We’ve hand-selected salons throughout New York so you can always expect quality service. Simply filter your search by salon, service, time of appointment, price, or location. See what times are available for the service you’re searching for. Book a time that works best for you. Pay directly through the app at the time of the appointment. Tip for your service in cash.</em></p>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <h4>search</h4>
        <p>Use various criteria – including name, location, date and time – to find exactly what you want from our hand-picked selection of salons. Browse through a curated list of products we recommend based on your profile</p>
      </div>
      <div class="six columns">
        <h4>discover</h4>
        <p>Explore new services at top NYC salons and invigorate your daily maintenance routine with expert-recommended products. Browse through exclusive promos that match what you're looking for.</p>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <h4>book</h4>
        <p>
          Need a last minute appointment? No problem! Book your appointment instantly right from the app OR tell our concierge where, when, and what service you need and we'll get you scheduled same-day.
        </p>
      </div>
      <div class="six columns">
        <h4>earn</h4>
        <p>
          The more you spend, the more you earn! Book appointments, invite friends and buy products to earn Kempt Points that can be be used like cash in the app
        </p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="row space">
        <div class="twelve columns">
          <h3 class="center uppercase space" id="membership"><strong><em>Customize Your Membership</em></strong></h3>
          <p class="center">
            <em>No Commitments - Cancel Anytime</em>
          </p>
          <hr class="small" />
        </div>
      </div>
      <div class="row list center">
        <div class="four columns">
          <h5>$50/month</h5>
          <hr class="small black" />
          <ul class="center">
            <li>50 Kempt points</li>
            <li>Access to all salons and services at member-only prices</li>
          </ul>
        </div>
        <div class="four columns">
          <h5>$100/month</h5>
          <hr class="small black" />
          <ul class="center">
            <li>105 Kempt points</li>
            <li>Access to all salons and services at member-only prices</li>
            <li>Access to exclusive promos</li>
          </ul>
        </div>
        <div class="four columns">
          <h5>$150/month</h5>
          <hr class="small black" />
          <ul class="center">
            <li>160 Kempt points</li>
            <li>Access to all salons and services at member-only prices</li>
            <li>Access to exclusive promos</li>
            <li>Exclusive events</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <form method="post" action="/email">
            <div class="row">
              <div class="twelve columns center">
                <input class="text email-js" type="email" placeholder="Enter your email" name="email">
                <input class="text zip_code-js" type="text" placeholder="Zip code" name="zipcode">
              </div>
            </div>
            <div class="row">
              <div class="twelve columns center">
                <button class="submit-js">Get Early Access</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row space">
      <div class="twelve columns">
        <h3 class="center uppercase" id="faq">faq</h3>
        <hr class="small" />
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <dl>
          <dt>What are Kempt Points?</dt>
          <dd>Use your Kempt Points like cash to book any beauty service at a member-only prices.</dd>
          <dt>What happens if I don't use all my Kempt Points for the month?</dt>
          <dd>No worries! Any unused Kempt Points rollover to the next month.</dd>
          <dt>What else can I use Kempt Points for?</dt>
          <dd>You can use your Kempt Points to purchase monthly featured products at member-only prices.</dd>
          <dt>What about tips?</dt>
          <dd>We recommend bringing cash to the appointment, but some salons also accept credit cards. Tip accordingly, as you normally would.</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="container space">
    <div class="row">
      <div class="twelve columns footer">
        <p class="center">&copy; 2016 Kempt</p>
      </div>
    </div>

  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>